.navbar{

height:70px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 40px;
background:white;
box-shadow:0 5px 15px rgba(0,0,0,.08);

}


.navbar h2{

color:#4f46e5;

}


.nav-links button{

margin-left:15px;
padding:10px 15px;
border:none;
background:#4f46e5;
color:white;
border-radius:8px;
cursor:pointer;

}